.files-list {
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-size: contain;
    background: #cef0fa;
}

.ListItemText {
    text-align: right;
    flex-grow: 1; /* This makes sure the text takes up as much space as possible */
}

.icon-container {
    display: flex;
    align-items: center;
}
