.files-list {
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-size: contain;
    background: #cef0fa;
}

.ListItemText {
    text-align: right;
    flex-grow: 1; /* This makes sure the text takes up as much space as possible */
}

.icon-container {
    display: flex;
    align-items: center;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
}

.modal-content img {
    max-width: 90%;
    max-height: 90%;
}
