.game-board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 0.25rem solid #000000;
    overflow: hidden;
    height: 60vh;
    width: 100vw;
    flex-direction: column-reverse;
    z-index: 2;

}

.player-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; /* Adjust the width of the player's image as needed */
    height: auto; /* Maintain the aspect ratio */
    max-height: 80%; /* Adjust the max-height of the player's image as needed */
    z-index: 3;
}




@media (min-width: 501px) {
    .game-board {
        width: 100%;
        max-width: 550px;
        height: 70vh;
        max-height: 550px;
        margin: 0 auto;
    }
}