.cell {
    border: 1px solid #677365;
    position: relative;
    z-index: 2;
}

.cell-number {
    position: absolute;
    padding: 0.2rem;
    font-size: 1rem;
    z-index: 2;
}

.cell.highlighted {
    border: 1.5px solid yellow;
}

.player-image {
    width: 65%;
    height: 65%;
    top: 70%;
}
