.cell {
    border: 1px solid #677365;
    position: relative;
    z-index: 2;
}

.cell-number {
    position: absolute;
    padding: 0.2rem;
    font-size: 1rem;
    z-index: 2;
}

.cell.highlighted {
    border: 1.5px solid yellow;
}

.player-image {
    width: 60%;
    height: 60%;
    top: 70%;
}

@media (min-width: 501px) {
    .player-image {
        width: 45%;
        height: 70%;
        top: 60%;
        left: 60%;
    }
}