.toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.toolbar {
    height: 9vh;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-container, .right-container {
    flex-basis: 38%;
}
.left-container {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


#ToolbarTitle {
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
}

#HomeButton, #ShamirLogo, #SoundButton {
    flex-shrink: 0;
}

#ShamirLogo {
    width: 50px;
    height: auto;
    object-fit: contain;
}

@media (min-width: 501px) {
    #ShamirLogo {
        width: 15vw;
        max-width: 100px;
    }
}
