.toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.toolbar {
    height: 12vh;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-container, .right-container {
    flex-basis: 20%;
}

#ToolbarTitle {
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
}

#HomeButton, #ShamirLogo {
    flex-shrink: 0;
    
}

#ShamirLogo {
    width: 150px;
    height: auto;
    object-fit: contain;
}

@media only screen and (max-width: 600px) {
    #ShamirLogo {
        width: 100px;
    }
}
