.toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.toolbar {
    height: 5%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-container, .right-container {
    width: 25%;
}
.left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100px;
    margin-left: -3%;
}


#ToolbarTitle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    line-height: 1;
    margin-left: 5%;

}

#HomeButton, #ToolBarShamirLogo, #SoundButton {
    flex-shrink: 0;
}

#ToolBarShamirLogo {
    width: 20%;
    height: auto;
    object-fit: contain;
    display: block;
    margin-left: auto;

}

@media only screen and (max-width: 500px) {
    #ToolbarTitle {
        position: static;
        transform: none;
        flex-grow: 1;
        text-align: center;
        left: auto;
        top: auto;
    }
}

@media (min-width: 501px) {
    #ToolBarShamirLogo {
        width: 12vw;
    }
}

@media only screen and (min-height: 401px) and (min-width: 501px) {
    #ToolBarShamirLogo {
        width: 18vw;
    }
}

@media only screen and (min-width: 901px) {
    #ToolBarShamirLogo {
        width: 8vw;
    }
}


@media only screen and (min-width: 1500px) {
    #ToolBarShamirLogo {
        width: 7vw;
    }

}