.dice-container {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    background-color: #04857F;
    border-radius: 10px;
    border: 0.2em solid black;
    padding: 0.3em;
    gap: 1em;
    position: relative;
}

.dice-image {
    width: 20vw;
    height: 8vh;
    object-fit: contain;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.dice-image.visible {
    opacity: 1;
    position: static;  /* Resets the absolute position when the image is visible */
}

#RollButton {
    width: 3.5em;
    height: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    font-size: 1.3em;
    color: white;
    border-radius: 10px;
}

#RollButton:hover {
    color: #04857F;
    background-color: white;
}
