.game-board-container {
    position: relative;
    overflow: hidden;
}

/* 23 -> 4*/
.FB-slide-image1-container {
    z-index: 1;
    position: absolute;
    height: 15%;
    width: 22%;
    top: 77%;
    left: 58%;
    transform: rotate(-13deg);
}
.FB-slide-image1 {
    width: 100%;
    height: 100%;
}

/* 94 -> 72*/
.FB-slide-image2-container {
    z-index: 1;
    position: absolute;
    height: 26%;
    width: 25%;
    top: 4%;
    left: 13%;
    transform: rotate(5deg);
}
.FB-slide-image2 {
    width: 100%;
    height: 100%;
}

/* 96 -> 63*/
.FB-slide-image3-container {
    z-index: 1;
    position: absolute;
    height: 31%;
    width: 28%;
    top: 6%;
    left: 51%;
}
.FB-slide-image3 {
    width: 100%;
    height: 100%;
    transform: scaleX(-1)
}

/* 26 -> 9*/
.FB-slide-image4-container {
    z-index: 1;
    position: absolute;
    height: 21%;
    width: 37%;
    top: 75%;
    left: 13%;
}
.FB-slide-image4 {
    width: 100%;
    height: 100%;
}

/* 56 -> 38 */
.FB-slide-image5-container {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    height: 22%;
    width: 26%;
    top: 45%;
    left: 51%;
}
.FB-slide-image5 {
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
}

/* 73 -> 47 */
.FB-slide-image6-container {
    z-index: 1;
    position: absolute;
    height: 31%;
    width: 14%;
    top: 25%;
    left: 23%;
}
.FB-slide-image6 {
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
}

/* 80 -> 62 */
.FB-slide-image7-container {
    z-index: 1;
    position: absolute;
    height: 14%;
    width: 17%;
    top: 25%;
    left: 81%;
}
.FB-slide-image7 {
    width: 100%;
    height: 100%;
}

/* 61-> 59 */
.FB-slide-image8-container {
    z-index: 1;
    position: absolute;
    height: 14%;
    width: 18%;
    top: 35%;
    left: 80%;
}
.FB-slide-image8 {
    width: 100%;
    height: 100%;
}


/* 2-> 21 */
.FB-ladder-image1-container {
    z-index: 1;
    position: absolute;
    height: 22%;
    width: 21%;
    top: 74%;
    left: 79%;
    opacity: 90%;
    transform: rotate(15deg)
}
.FB-ladder-image1 {
    width: 100%;
    height: 100%;
}

/* 28 -> 46 */
.FB-ladder-image2-container {
    z-index: 1;
    position: absolute;
    height: 30%;
    width: 21%;
    top: 50%;
    left: 25%;
    opacity: 90%;
    transform: rotate(34deg);
}
.FB-ladder-image2 {
    width: 100%;
    height: 100%;
}

/* 55 -> 95*/
.FB-ladder-image3-container {
    z-index: 1;
    position: absolute;
    height: 46%;
    width: 20%;
    top: 2%;
    left: 35%;
    opacity: 90%;
    transform: rotate(-2deg);
}
.FB-ladder-image3 {
    width: 100%;
    height: 100%;
}

/* 22 -> 41*/
.FB-ladder-image4-container {
    z-index: 1;
    position: absolute;
    height: 25%;
    width: 20%;
    top: 53%;
    left: 79%;
    opacity: 90%;
    transform: rotate(19deg);
}
.FB-ladder-image4 {
    width: 100%;
    height: 100%;
}

/* 84 -> 98 */
.FB-ladder-image5-container {
    z-index: 1;
    position: absolute;
    height: 13%;
    width: 12%;
    top: 3%;
    left: 64%;
    opacity: 90%;
    transform: rotate(34deg);
}
.FB-ladder-image5 {
    width: 100%;
    height: 100%;
}

/* 32 -> 90 */
.FB-ladder-image6-container {
    z-index: 1;
    position: absolute;
    height: 60%;
    width: 19%;
    top: 10%;
    left: 1%;
    opacity: 90%;
    transform: rotate(-8deg);
}
.FB-ladder-image6 {
    width: 100%;
    height: 100%;
    transform: scaleX(-1)
}

/* 79 -> 99 */
.FB-ladder-image7-container {
    z-index: 1;
    position: absolute;
    height: 20%;
    width: 16%;
    top: 6%;
    left: 77%;
    opacity: 90%;
    transform: rotate(-1deg);
}
.FB-ladder-image7 {
    width: 100%;
    height: 100%;
}

/* 10 -> 30 */
.FB-ladder-image8-container {
    z-index: 1;
    position: absolute;
    height: 22%;
    width: 16%;
    top: 74%;
    left: -2%;
    opacity: 90%;
    transform: rotate(0deg);
}
.FB-ladder-image8 {
    width: 100%;
    height: 100%;
}

@media (min-width: 501px) {
    .game-board-container {
        width: 100%;
        max-width: 550px;
        height: 50vh;
        max-height: 550px;
        margin: 0 auto;
    }
}
