.game-board-container {
    position: relative;
    overflow: hidden;
}

/* 23 -> 4*/
.slide-image1 {
    z-index: 1;
    position: absolute;
    height: 41%;
    width: 46%;
    top: 55%;
    left: 39%;
    transform: rotate(-8deg);
}

/* 94 -> 72*/
.slide-image2 {
    z-index: 1;
    position: absolute;
    height: 47%;
    width: 47%;
    top: 4%;
    left: 9%;
    transform: rotate(5deg);
}

/* 96 -> 63*/
.slide-image3 {
    z-index: 1;
    position: absolute;
    height: 55%;
    width: 50%;
    top: 4%;
    left: 35%;
}

.slide-image3 img {
    transform: scaleX(-1)
}

/* 26 -> 9*/
.slide-image4 {
    z-index: 1;
    position: absolute;
    height: 43%;
    width: 61%;
    top: 53%;
    left: 8%;
}

/* 56 -> 38 */
.slide-image5 {
    z-index: 1;
    position: absolute;
    height: 44%;
    width: 49%;
    top: 33%;
    left: 36%;
}

.slide-image5 img {
    transform: scaleX(-1)
}

/* 73 -> 47 */
.slide-image6 {
    z-index: 1;
    position: absolute;
    height: 56%;
    width: 41%;
    top: 17%;
    left: 15%;
}

.slide-image6 img {
    transform: scaleX(-1)
}

/* 80 -> 62 */
.slide-image7 {
    z-index: 1;
    position: absolute;
    height: 36%;
    width: 37%;
    top: 18%;
    left: 60%;
}

/* 61-> 59 */
.slide-image8 {
    z-index: 1;
    position: absolute;
    height: 33%;
    width: 36%;
    top: 27%;
    left: 60%;
}


/* 2-> 21 */
.ladder-image1 {
    z-index: 1;
    position: absolute;
    height: 45%;
    width: 40%;
    top: 51%;
    left: 59%;
    opacity: 90%;
    transform: rotate(7deg);
}

/* 28 -> 46 */
.ladder-image2 {
    z-index: 1;
    position: absolute;
    height: 54%;
    width: 45%;
    top: 34%;
    left: 19%;
    opacity: 90%;
    transform: rotate(16deg);
}

/* 55 -> 95*/
.ladder-image3 {
    z-index: 1;
    position: absolute;
    height: 68%;
    width: 45%;
    top: 2%;
    left: 24%;
    opacity: 90%;
    transform: rotate(0deg);
}

/* 22 -> 41*/
.ladder-image4 {
    z-index: 1;
    position: absolute;
    height: 50%;
    width: 43%;
    top: 34%;
    left: 57%;
    opacity: 90%;
    transform: rotate(9deg);
}

/* 84 -> 98 */
.ladder-image5 {
    z-index: 1;
    position: absolute;
    height: 39%;
    width: 32%;
    top: 2%;
    left: 46%;
    opacity: 90%;
    transform: rotate(14deg);
}



/* 32 -> 90 */
.ladder-image6 {
    z-index: 1;
    position: absolute;
    height: 74%;
    width: 48%;
    top: 7%;
    left: 0%;
    opacity: 90%;
    transform: rotate(-8deg);
}

.ladder-image6 img {
    transform: scaleX(-1)
}

/* 79 -> 99 */
.ladder-image7 {
    z-index: 1;
    position: absolute;
    height: 47%;
    width: 42%;
    top: 3%;
    left: 54%;
    opacity: 90%;
    transform: rotate(-1deg);
}

/* 10 -> 30 */
.ladder-image8 {
    z-index: 1;
    position: absolute;
    height: 46%;
    width: 40%;
    top: 51%;
    left: -1%;
    opacity: 90%;
    transform: rotate(0deg);
}

@media (min-width: 501px) {
    .game-board-container {
        width: 100%;
        max-width: 550px;
        height: 50vh;
        max-height: 550px;
        margin: 0 auto;
    }
}
