.game-board-container {
    position: relative;
    overflow: hidden;
}

/* 23 -> 4*/
.IB-slide-image1-container {
    z-index: 1;
    position: absolute;
    height: 15%;
    width: 22%;
    top: 77%;
    left: 58%;
    transform: rotate(-13deg);
}
.IB-slide-image1 {
    width: 100%;
    height: 100%;
}

/* 47 -> 29*/
.IB-slide-image2-container {
    z-index: 1;
    position: absolute;
    height: 26%;
    width: 25%;
    top: 52%;
    left: 13%;
    transform: rotate(5deg);
}
.IB-slide-image2 {
    width: 100%;
    height: 100%;
}

/* 95 -> 64*/
.IB-slide-image3-container {
    z-index: 1;
    position: absolute;
    height: 31%;
    width: 28%;
    top: 6%;
    left: 41%;
}
.IB-slide-image3 {
    width: 100%;
    height: 100%;
    transform: scaleX(-1)
}

/* 26 -> 9*/
.IB-slide-image4-container {
    z-index: 1;
    position: absolute;
    height: 21%;
    width: 37%;
    top: 75%;
    left: 13%;
}
.IB-slide-image4 {
    width: 100%;
    height: 100%;
}

/* 56 -> 38 */
.IB-slide-image5-container {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    height: 22%;
    width: 26%;
    top: 45%;
    left: 51%;
}
.IB-slide-image5 {
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
}

/* 73 -> 47 */
.IB-slide-image6-container {
    z-index: 1;
    position: absolute;
    height: 31%;
    width: 14%;
    top: 5%;
    left: 4%;
}
.IB-slide-image6 {
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
}

/* 80 -> 62 */
.IB-slide-image7-container {
    z-index: 1;
    position: absolute;
    height: 14%;
    width: 17%;
    top: 25%;
    left: 81%;
}
.IB-slide-image7 {
    width: 100%;
    height: 100%;
}

/* 61-> 59 */
.IB-slide-image8-container {
    z-index: 1;
    position: absolute;
    height: 14%;
    width: 18%;
    top: 35%;
    left: 80%;
}
.IB-slide-image8 {
    width: 100%;
    height: 100%;
}


/* 2-> 21 */
.IB-ladder-image1-container {
    z-index: 1;
    position: absolute;
    height: 22%;
    width: 21%;
    top: 74%;
    left: 79%;
    opacity: 90%;
    transform: rotate(15deg)
}
.IB-ladder-image1 {
    width: 100%;
    height: 100%;
}

/* 50 -> 68 */
.IB-ladder-image2-container {
    z-index: 1;
    position: absolute;
    height: 30%;
    width: 21%;
    top: 31%;
    left: 6%;
    opacity: 90%;
    transform: rotate(34deg);
}
.IB-ladder-image2 {
    width: 100%;
    height: 100%;
}

/* 58 -> 98*/
.IB-ladder-image3-container {
    z-index: 1;
    position: absolute;
    height: 46%;
    width: 20%;
    top: 2%;
    left: 64%;
    opacity: 90%;
    transform: rotate(-2deg);
}
.IB-ladder-image3 {
    width: 100%;
    height: 100%;
}

/* 22 -> 41*/
.IB-ladder-image4-container {
    z-index: 1;
    position: absolute;
    height: 25%;
    width: 20%;
    top: 53%;
    left: 79%;
    opacity: 90%;
    transform: rotate(19deg);
}
.IB-ladder-image4 {
    width: 100%;
    height: 100%;
}

/* 89 -> 93 */
.IB-ladder-image5-container {
    z-index: 1;
    position: absolute;
    height: 13%;
    width: 12%;
    top: 3%;
    left: 15%;
    opacity: 90%;
    transform: rotate(34deg);
}
.IB-ladder-image5 {
    width: 100%;
    height: 100%;
}

/* 35 -> 87 */
.IB-ladder-image6-container {
    z-index: 1;
    position: absolute;
    height: 60%;
    width: 19%;
    top: 10%;
    left: 31%;
    opacity: 90%;
    transform: rotate(-8deg);
}
.IB-ladder-image6 {
    width: 100%;
    height: 100%;
    transform: scaleX(-1)
}

/* 79 -> 99 */
.IB-ladder-image7-container {
    z-index: 1;
    position: absolute;
    height: 20%;
    width: 16%;
    top: 6%;
    left: 77%;
    opacity: 90%;
    transform: rotate(-1deg);
}
.IB-ladder-image7 {
    width: 100%;
    height: 100%;
}

/* 10 -> 30 */
.IB-ladder-image8-container {
    z-index: 1;
    position: absolute;
    height: 22%;
    width: 16%;
    top: 74%;
    left: -2%;
    opacity: 90%;
    transform: rotate(0deg);
}
.IB-ladder-image8 {
    width: 100%;
    height: 100%;
}

@media (min-width: 501px) {
    .game-board-container {
        width: 100%;
        max-width: 550px;
        height: 50vh;
        max-height: 550px;
        margin: 0 auto;
    }

    /* 23 -> 4*/
    .IB-slide-image1-container {
        z-index: 1;
        position: absolute;
        height: 15%;
        width: 22%;
        top: 63%;
        left: 59%;
        transform: rotate(-13deg);
    }

    /* 94 -> 72*/
    .IB-slide-image2-container {
        z-index: 1;
        position: absolute;
        height: 20%;
        width: 25%;
        top: 4%;
        left: 13%;
        transform: rotate(5deg);
    }

    /* 95 -> 64*/
    .IB-slide-image3-container {
        z-index: 1;
        position: absolute;
        height: 25%;
        width: 28%;
        top: 5%;
        left: 41%;
    }

    /* 26 -> 9*/
    .IB-slide-image4-container {
        z-index: 1;
        position: absolute;
        height: 21%;
        width: 37%;
        top: 60%;
        left: 13%;
    }

    /* 56 -> 38 */
    .IB-slide-image5-container {
        z-index: 1;
        position: absolute;
        overflow: hidden;
        height: 19%;
        width: 26%;
        top: 37%;
        left: 51%;
    }

    /* 73 -> 47 */
    .IB-slide-image6-container {
        z-index: 1;
        position: absolute;
        height: 27%;
        width: 14%;
        top: 21%;
        left: 23%;
    }

    /* 80 -> 62 */
    .IB-slide-image7-container {
        z-index: 1;
        position: absolute;
        height: 11%;
        width: 17%;
        top: 21%;
        left: 81%;
    }

    /* 61-> 59 */
    .IB-slide-image8-container {
        z-index: 1;
        position: absolute;
        height: 12%;
        width: 18%;
        top: 29%;
        left: 80%;
    }

    /* 2-> 21 */
    .IB-ladder-image1-container {
        z-index: 1;
        position: absolute;
        height: 22%;
        width: 21%;
        top: 59%;
        left: 79%;
        opacity: 90%;
        transform: rotate(25deg);
    }

    /* 50 -> 68 */
    .IB-ladder-image2-container {
        z-index: 1;
        position: absolute;
        height: 30%;
        width: 21%;
        top: 31%;
        left: 6%;
        opacity: 90%;
        transform: rotate(34deg);
    }

    /* 55 -> 95*/
    .IB-ladder-image3-container {
        z-index: 1;
        position: absolute;
        height: 39%;
        width: 20%;
        top: 2%;
        left: 35%;
        opacity: 90%;
        transform: rotate(-2deg);
    }

    /* 22 -> 41*/
    .IB-ladder-image4-container {
        z-index: 1;
        position: absolute;
        height: 25%;
        width: 20%;
        top: 41%;
        left: 79%;
        opacity: 90%;
        transform: rotate(24deg);
    }

    /* 84 -> 98 */
    .IB-ladder-image5-container {
        z-index: 1;
        position: absolute;
        height: 13%;
        width: 12%;
        top: 3%;
        left: 64%;
        opacity: 90%;
        transform: rotate(34deg);
    }

    /* 32 -> 90 */
    .IB-ladder-image6-container {
        z-index: 1;
        position: absolute;
        height: 48%;
        width: 19%;
        top: 10%;
        left: 1%;
        opacity: 90%;
        transform: rotate(-8deg);
    }

    /* 79 -> 99 */
    .IB-ladder-image7-container {
        z-index: 1;
        position: absolute;
        height: 20%;
        width: 16%;
        top: 3%;
        left: 77%;
        opacity: 90%;
        transform: rotate(-1deg);
    }

    /* 10 -> 30 */
    .IB-ladder-image8-container {
        z-index: 1;
        position: absolute;
        height: 22%;
        width: 16%;
        top: 59%;
        left: -2%;
        opacity: 90%;
        transform: rotate(0deg);
    }

}
