.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 0.25rem solid #000000;
    overflow: hidden;
    height: 60vh;
    width: 100vw;
    flex-direction: column-reverse;
}


.cell {
    border: 1px solid #677365;
    position: relative;
}

.cell-number {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2em;
}

.cell {
    border: 1px solid #677365;
    position: relative;  /* This makes .cell a relative container */
}

.cell-number {
    position: absolute;  /* This positions .cell-number absolutely within .cell */
    top: 0;  /* This aligns .cell-number with the top of .cell */
    left: 0;  /* This aligns .cell-number with the left of .cell */
    padding: 0.2rem;  /* Add some spacing around .cell-number */
    font-size: 0.8rem;  /* Adjust the font size of .cell-number */
}


.animal {
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh; /* Adjust the height as needed (subtract the height of the game board) */
    padding: 20px;
    background-size: contain;
    justify-content: center;
    position: relative;
}

.animal.dog {
    background-color: #ff0000;
}

.animal.lion {
    background-color: #25c9e7;
}

.animal.monkey {
    background-color: #00ff4c;

}

.animal.panda {
    background-color: #9900cc;
}

.animal-image{
    width: 20vw;
    height: 10vh;
    max-height: 100px;
    max-width: 100px;
    margin-right: 40px;
}

.rectangleDice {
    width: 30%;
    max-width: 20rem;
    height: 10rem;
    border: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media (min-width: 601px) {
    .game-board {
        width: 80%;
        max-width: 550px;
        height: 70vh;
        max-height: 550px;
        margin: 0 auto;
    }

    .animal-image {
        width: 20vw;
        height: 20vh;
    }

    .rectangleDice {
        height: 35vh;
    }

    .animal {
        display: flex;
        align-items: center;
        margin-top: auto;
        width: 100%;
        height: 40vh;
        padding: 20px;
        background-size: contain;
        justify-content: center;
        position: relative;
    }

}
