#HomePage {
    background: linear-gradient(to bottom, #67E5D6, #FFFFFF);
    height: 100vh;
}

/* Buttons container */
#ButtonsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;  /* This makes the container take up the full viewport height */
}

/* Individual buttons */
#StartGameButton, #MedicalDocumentsButton {
    width: 85%;
    height: 5rem;
    margin-top: 0.7em;

    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    font-size: 7vw;
    line-height: 1;
    text-align: center;

    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #25B90D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

#StartGameButton {
    color: #25B90D;
}

#MedicalDocumentsButton {
    color: #00456E;
    border-color: #00456E;
}


.AnimalsBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
}

#MonkeyBackground, #LionBackground, #PandaBackground, #DogBackground {
    width: 37vw;
    height: 13em;
    margin: -2em;
}

#DogBackground {
    transform: rotate(-3.97deg);
}

#LionBackground {
    transform: rotate(6deg);
}

#ShamirLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; /* Adjust based on your need */
    height: auto; /* Let the height auto-adjust */
    margin: 1em auto; /* Center the logo */
}


#LinksDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#YoutubeIcon, #FacebookIcon, #InstagramIcon {
    width: 15vw; /* Adjust based on viewport width */
    height: auto; /* Let the height auto-adjust */
    margin: 1em; /* Space around icons */
}
