* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#HomePage {
    height: 60vh;
    background-size: contain;
    background: linear-gradient(to bottom, #67E5D6, #FFFFFF) no-repeat;
}

#ButtonsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin-top: 1em;
}

#StartGameButton, #MedicalDocumentsButton {
    width: 85%;
    height: 5rem;
    margin-top: 0.7em;

    font-style: normal;
    font-weight: 400;
    font-size: 7vw;
    line-height: 1;
    text-align: center;

    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #25B90D;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

#StartGameButton {
    color: #25B90D;
}

#MedicalDocumentsButton {
    color: #00456E;
    border-color: #00456E;
}

.AnimalsBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    margin-top: 2.5em;
}

#MonkeyBackground, #LionBackground, #PandaBackground, #DogBackground {
    width: 29vw;
    height: 13em;
    margin: -0.6em;
}

#DogBackground {
    transform: rotate(-3.97deg);
    z-index: 1;
}

#LionBackground {
    transform: rotate(6deg);
}

#PandaBackground {
    z-index: 1;
}

#ShamirLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#LinksDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#YoutubeIcon, #FacebookIcon, #InstagramIcon {
    width: 20vw;
    height: auto;
    margin: 1em;
}


@media only screen and (min-width: 501px) {

    /* Buttons container */
    #ButtonsDiv {
        height: 25vh;
    }

    /* Individual buttons */
    #StartGameButton, #MedicalDocumentsButton {
        width: 85%;
        height: 4rem;
        font-size: 2vw;
    }

    #MonkeyBackground, #LionBackground, #PandaBackground, #DogBackground {
        width: 20vw;
        height: 25vh;
        margin: 0.5em;
    }

    #ShamirLogo {
        width: 60%;
    }

    #YoutubeIcon, #FacebookIcon, #InstagramIcon {
        width: 10vw;
    }
}

