* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#HomePage {
    background-size: contain;
    background: linear-gradient(to bottom, #67E5D6, #FFFFFF) no-repeat;
    overflow: hidden;
}

#HomeShamirLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}

.AnimalsBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    margin-top: 3em;
}

#MonkeyBackground, #LionBackground, #PandaBackground, #DogBackground {
    width: 29vw;
    height: 13em;
    margin: -0.6em;
}

#DogBackground {
    transform: rotate(-3.97deg);
    z-index: 1;
}

#LionBackground {
    transform: rotate(6deg);
}

#PandaBackground {
    z-index: 1;
}

#ButtonsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin-top: 1em;
}

#StartGameButton, #MedicalDocumentsButton {
    width: 85%;
    height: 5rem;
    margin-top: 0.7em;

    font-style: normal;
    font-size: 9vw;
    line-height: 1;
    text-align: center;

    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #25B90D;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

#StartGameButton {
    color: #25B90D;
}

#MedicalDocumentsButton {
    color: #00456E;
    border-color: #00456E;
}

#LinksDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

#MapIcon {
    width: 25vw;
    height: 11vh;
}
#YoutubeIcon {
    width: 22vw;
    height: 10vh;
}

#FacebookIcon, #InstagramIcon {
    width: 19vw;
    height: 9vh;
    margin: 0.8em;
}


@media only screen and (min-width: 501px) {
    #HomeShamirLogo {
        width: 25%;
    }

    .AnimalsBackground {
        margin-top: 0;
    }

    #MonkeyBackground, #LionBackground, #PandaBackground, #DogBackground {
        width: 18vw;
        height: 30vh;
        margin: 0.5em;
    }

    #ButtonsDiv {
        height: 38vh;
        margin-top: -1.9em;
    }

    #StartGameButton, #MedicalDocumentsButton {
        width: 85%;
        height: 4rem;
        font-size: 2vw;
    }

    #StartGameButton, #MedicalDocumentsButton {
        font-size: 3.5vw;
    }

    #YoutubeIcon, #MapIcon {
        width: 15vw;
        height: 16vh;
    }

     #FacebookIcon, #InstagramIcon {
        width: 12vw;
        height: 14vh;
    }
}

@media only screen and (min-height: 401px) and (min-width: 501px) {
    .AnimalsBackground {
        margin-top: 3em;
    }

    #LinksDiv {
        margin-top: -5vh;
    }

    #YoutubeIcon, #MapIcon {
        width: 12vw;
        height: 13vh;
    }

    #FacebookIcon, #InstagramIcon {
        width: 11vw;
        height: 13vh;
    }
}

@media only screen and (min-width: 901px) {
    .AnimalsBackground {
        margin-top: 2.5em;
    }

    #MonkeyBackground, #LionBackground, #PandaBackground, #DogBackground {
        width: 16vw;
        height: 27vh;
        margin: 0.5em;
    }

    #ButtonsDiv {
        height: 25vh;
        margin-top: 0.5em;
    }

    #LinksDiv {
        margin-top: 2vh;
    }

    #YoutubeIcon, #MapIcon {
        width: 9vw;
        height: 10vh;
    }

    #FacebookIcon, #InstagramIcon {
        width: 8vw;
        height: 10vh;
    }
}

@media only screen and (min-width: 1500px) {
    #HomeShamirLogo {
        width: 20%;
    }

    #MonkeyBackground, #LionBackground, #PandaBackground, #DogBackground {
        width: 14vw;
        height: 23vh;
        margin: 0.5em;
    }

    #ButtonsDiv {
        height: 22vh;
    }

    #StartGameButton, #MedicalDocumentsButton {
        font-size: 2.2vw;
    }

    #YoutubeIcon, #MapIcon {
        width: 7vw;
        height: 10vh;
    }

    #FacebookIcon, #InstagramIcon {
        width: 6vw;
        height: 10vh;
    }
}
